<%- include('./partials/header.ejs') %>
<h1>Welcome</h1>
        <form action="/behavior/reporting/Morning">
            <input type="submit" value="Report Morning" />
        </form>
        <form action="/behavior/reporting/Evening">
            <input type="submit" value="Report Evening" />
        </form>
        <form action="/behavior/summary">
            <input type="submit" value="Summary" />
        </form>
<%- include('./partials/footer.ejs') %>