<!-- <%- include('./partials/header.ejs') %> -->
<h1>Welcome</h1>
<ul>
    <li>
        <form action="/behavior/reporting/Morning">
            <input type="submit" value="Report Morning" />
        </form>
    </li>
    <li>
        <input type="submit" value="Report Evening" />
    </li>
    <li>
        <input type="submit" value="Summary" />
    </li>
</ul>
<!-- <%- include('./partials/footer.ejs') %> -->